.brand_week section{position:relative;}
.brand_week section a:hover{text-decoration:none;}
.brand_week dfn{display:none;}

.brand_week .section01 .img01{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/section01.jpg)no-repeat 50% 0;height:650px;}
.brand_week .section01 .img02{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/section02.jpg)no-repeat 50% 0;height:827px;}
.brand_week .section01 .img03{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/section03.jpg)no-repeat 50% 0;height:612px;}

/* timesale */
.brand_week .timesale .main_time{width:960px;margin:108px auto 207px;position:relative;}
.brand_week .timesale .main_time .prd_item{overflow: hidden;}
.brand_week .timesale .main_time .prd_img{width:440px;height:440px;float:left;margin:0;}
.brand_week .timesale .main_time .prd_img img{width:100%;}
.brand_week .timesale .main_time .prd_info{text-align:left;margin-left:84px;width:calc(50% - 84px);float:left;}
.brand_week .timesale .main_time .prd_date{width:422px;margin-bottom:29px;padding-bottom:21px;border-bottom:1px solid #000;}
.brand_week .timesale .main_time .prd_date .date{font-size:54px;font-weight:800;color:#222;line-height:54px;letter-spacing:-0.03em;margin-left: 41px;}
.brand_week .timesale .main_time .prd_date .date span{display:block;font-size:22px;font-weight:400;color:#686868;line-height:22px;margin-bottom:15px;letter-spacing:-0.01em;}
.brand_week .timesale .main_time .prd_date .date span b{font-size:25px;font-weight:700;line-height:25px;letter-spacing:-0.11em;}
.brand_week .timesale .main_time .prd_date .time{font-size:49px;line-height: 49px;font-weight: 700;color:#000;margin-top:81px;position:relative;width:fit-content;letter-spacing:-0.01em;margin-left: 41px;}
.brand_week .timesale .main_time .prd_date .time::after{content:'';display:block;background: #FF0D38;width:12px;height:12px;border-radius:50%;position:absolute;top:-5px;right:-15px;animation: twinkle ease-in-out alternate;-webkit-animation: twinkle alternate .6s infinite;}
.brand_week .timesale .main_time .prd_name{font-size:25px;letter-spacing:-0.03em;width:290px;font-weight:700;margin-left: 41px;}
.brand_week .timesale .main_time .prd_price{margin-left:41px;margin-top:26px;font-size:28px;line-height:28px;letter-spacing:-0.01em;font-weight:700;color:#222;margin-top:10px;}
.brand_week .timesale .main_time s{display:block;font-size:23px;line-height:23px;letter-spacing:-0.01em;font-weight:400;color:#8C8C8C;}
.brand_week .timesale .main_time span{font-size:33px;line-height: 33px;letter-spacing:-0.01em;font-weight:700;color:#FF0D38;margin-left:10px;}
.brand_week .timesale .main_time .prd_link{width:483px;height:77px;display:flex;align-items:center;justify-content:center;background-color:#090909;color:#fff;border-radius:50px;position:absolute;bottom:-130px;left:50%;margin-left:-241.5px;font-size:24px;}
.brand_week .timesale .sub_time{background:#F8F3EB;overflow: hidden;}
.brand_week .timesale .sub_time .time_list{width:970px;margin:80px auto;overflow: hidden;}
.brand_week .timesale .sub_time .time_list li{width:220px;height:220px;float:left;margin-right:30px;position:relative;}
.time_list li:nth-child(1),.time_list li:nth-child(2),.time_list li:nth-child(3),.time_list li:nth-child(4){margin-bottom:30px;}
.time_list li:nth-child(4),.time_list li:nth-child(8){margin-right:0 !important;}
.brand_week .timesale .sub_time .time_list li figure{margin:0;}
.brand_week .timesale .sub_time .time_list li figure .mask{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#686868;opacity: 0.15;}
.brand_week .timesale .sub_time .time_list li img{width:100%;}
.brand_week .timesale .sub_time .time_list li .time_date{font-size:20px;line-height:20px;font-weight:600;position:absolute;top:15px;left:8px;text-align:left;color:#fff;}
.brand_week .timesale .sub_time .time_list li .time_date span{display:block;font-size: 30px;line-height:36px;letter-spacing:-0.05em;font-weight:500;}
.brand_week .timesale .sub_time .time_list li.close a.more{display:none;}
.brand_week .timesale .sub_time .time_list li.close figure .mask{background-color:#222;opacity: 0.2;}
.brand_week .timesale .sub_time .time_list li.close figure img{filter: grayscale(100%);}
.brand_week .timesale .sub_time .time_list li.close .time_date{text-align: center;font-size:26px;line-height:26px;position:absolute;top:80px;left:0;width:100%;}
.brand_week .timesale .sub_time .time_list li a.more{width:31px;height:31px;position:absolute;right:8.4px;bottom:8.4px;}
.brand_week .timesale .sub_time .time_list li a.more img{width:100%;}

.brand_week .section03{background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,0) 50%, rgba(255,255,255,1) 100%);height:1500px;}
.brand_week .section04{background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,0) 50%, rgba(255,255,255,1) 100%);height:1500px;}
.brand_week .section05{background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,0) 50%, rgba(255,255,255,1) 100%);height:1500px;}
.brand_week .section06{background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,0) 50%, rgba(255,255,255,1) 100%);height:1500px;}
.brand_week .section07{background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(228,228,228,0) 50%, rgba(255,255,255,1) 100%);height:1500px;}

.brand_week section .tit{position:absolute;top:109px;left:50%;transform:translateX(-50%);}
.brand_week section .main_prd{position:absolute;top:304px;left:50%;transform:translateX(-50%);}
.brand_week section .main_prd .thumbnail{float:left;width:566px;height:566px;margin-top:2px;margin-left:2px;border-right:2px solid #000;}
.brand_week section .main_prd .thumbnail img{width:100%;}
.brand_week section .main_prd .desc{float:left;margin-top:360px;margin-left:65px;text-align:left;}
.brand_week section .main_prd .desc .price s{display:block;font-size:21.06px;color:#8fa08b;}
.brand_week section .main_prd .desc .price{font-size:25.07px;font-weight:bold;line-height:27px;}
.brand_week section .main_prd .desc .price span{float:left;margin-right:10px;color:#ff214f;}
.brand_week section .main_prd .btn_purchase{width:300px;height:60px;position:absolute;bottom:62px;right:201px;display:block;}

.brand_week section .sub_prd{display:flex;width:1140px;position: relative;top:960px;left:50%;transform:translateX(-50%);justify-content:space-between;}
.brand_week section .sub_prd li{width:270px;}
.brand_week section .sub_prd li img{width:100%;}
.brand_week section .sub_prd li .desc{text-align: left;margin-top:20px;}
.brand_week section .sub_prd li .desc .name{font-size:19px;font-weight:500;margin-bottom:15px;line-height:24px;}
.brand_week section .sub_prd li .desc .price{font-size:18px;font-weight:700;}
.brand_week section .sub_prd li .desc .price s{display:block;font-size:17px;color:#8fa08b;font-weight:500;}
.brand_week section .sub_prd li .desc .price span{float:left;margin-right:5px;color:#ff214f;font-weight:600;}

.brand_week .section03 .main_prd{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/main01.png?v=1.01)no-repeat 0 0;width:1140px;height:570px;}
.brand_week .section04 .main_prd{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/main02.png?v=1.01)no-repeat 0 0;width:1140px;height:570px;}
.brand_week .section05 .main_prd{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/main03.png?v=1.01)no-repeat 0 0;width:1140px;height:570px;}
.brand_week .section06 .main_prd{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/main04.png?v=1.01)no-repeat 0 0;width:1140px;height:570px;}
.brand_week .section07 .main_prd{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/main05.png?v=1.01)no-repeat 0 0;width:1140px;height:570px;}

.brand_week .section07{height:1685px;}
.brand_week .section07 .event{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/bg_event.jpg)no-repeat 50% 0;height:380px;width:100%;display:block;}
.brand_week .section07 .coupon{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/bg_coupon.jpg)no-repeat 50% 0;height:926px;width:100%;display:block;}
.brand_week .section07 .brand{background:url(//webimage.10x10.co.kr/fixevent/event/2022/117086/bg_brand.jpg)no-repeat 50% 0;height:379px;width:100%;display:block;}

.brand_week .popup .bg_dim{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:10000;}
.brand_week .popup .pop{position:fixed;top:200px;left:50%;transform:translateX(-50%);z-index:10001;}
.brand_week .popup .pop .btn_close{width:85px;height:85px;display:block;position:absolute;top:0;right:0;}
.brand_week .popup .pop .btn_prd{width:300px;height:60px;display:block;position:absolute;bottom:50px;left:50%;transform:translateX(-50%);}

.brand_week .layerDeal{overflow:hidden;}
.brand_week .layerDeal .title{height:118px;line-height:118px;font-size:20px;font-weight: 400;letter-spacing: -0.01em;}
.brand_week .layerDeal .title span b{font-size:20px;font-weight: 500;letter-spacing: -0.01em;}
.brand_week .layerDeal .itemArea .pdtBrand{font-size:19px;line-height:19px;letter-spacing: -0.02em;color:#818181;margin-top:61px;text-decoration: none;margin-bottom:35px;}
.brand_week .layerDeal .itemArea .pdtBrand a{text-decoration: none;}
.brand_week .layerDeal .itemArea .tit_pdtName{min-height:90px;font-size:26px;line-height:45px;letter-spacing:-0.01em;margin:0 auto;padding:0;}

.brand_week .layerDeal .deal_detail{margin-top:120px;}
.brand_week .layerDeal .deal_list{padding:0 90px;padding-bottom:200px;margin-top:90px;}
.brand_week .layerDeal .deal_list .itemDeal li > a:after{border:0;}
.brand_week .layerDeal .deal_list .itemDeal .half{width:320px;height:437px;margin:0;margin-right:40px;margin-bottom:80px;}
.brand_week .layerDeal .deal_list .itemDeal .half:nth-child(even){margin-right:0;}
.brand_week .layerDeal .deal_list .itemDeal .half > a{width:320px;height:437px;padding:0;border:0;}
.brand_week .layerDeal .deal_list .itemDeal .half .pdtPhoto, .brand_week .layerDeal .deal_list .itemDeal .half .pdtPhoto img{width:320px;height:320px;margin-bottom:20px;}
.brand_week .layerDeal .itemDeal .pdtInfo{width:320px;}
.brand_week .layerDeal .itemDeal .pdtName{margin-top:20px;font-size:20px;letter-spacing:-0.01em;font-weight: 400;height:none;line-height:28px;width:300px;height:54px;display:-webkit-box; -webkit-line-clamp:2;overflow:hidden; -webkit-box-orient: vertical;}
@keyframes twinkle {
    0%{opacity: 0;}
    100%{opacity: 1;}
}