.coupon-publish-guide {
    padding: 29px 0 26px;
    width: 100%;
    height: auto;
    font-family: 'Apple SD Gothic Neo';
    background: #FE6A21;
    text-align: center;
}

.coupon-Y,.coupon-N {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    color: #fff;
}

.coupon__limited-number {
    margin-top:6px;
    display: block;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: rgba(209, 255, 89, 1);
}
